body {
    background-color: rgba(28, 65, 28, 0.594);
    color: white;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
}

.navbar-brand {
    font-size: 30px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-list {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

#navbar-link {
    text-decoration: none;
    color: white;   
    font-size: 23px;
    font-family: 'Quicksand', sans-serif;
}

#navbar-link:hover {
    font-weight: bolder;
}

.landing-page-area-one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;    
    height: 600px;
}

.landing-page-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 75px;
}


#landing-page-link {
    text-decoration: none;
    color: white;
    opacity: 50%;
    font-size: 22px;
}

#landing-page-link:hover {
    opacity: 100%;
    font-weight: bold;
}

#landing-main-link {
    text-decoration: none;
    color: rgb(241, 203, 34);
}

#landing-main-link:hover {
    font-weight: bold;
}

.fa  {
    margin-left: 5px;
}

.landing-main-small {
    margin-top: 20px;
    color: rgb(241, 203, 34);
}

.main-landing-image {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.main-landing-text {
    font-size: 70px;
}

.background-image {
    width: 400px;
}